# Virtual Environment
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class

# Data Files (often large)
*.mat
*.hdf5
*.vti
*.npy
*.pth

# IDEs
.vscode/
.idea/

# OS
.DS_Store

# Temporary outputs
OUTPUTS/
RESULTS/
datasets/
PACKETS/
COMPARE_RESULTS/

# Logs
*.log
